<div class="card-container">
  <div class="card" >
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <h4 class="card-title">السلام عليكم ورحمة الله وبركاته <span> <br>May the peace and blessings of God be upon you</span> </h4>
      <p class="card-text">Website provides an interace for you to get daily reminders of Islam. Hope You Enjoy It!</p>
      <a href="#" class="btn btn-warning closingButton">Hide</a>
    </div>
  </div>
</div>