
<br>
<div class="prayerTimes">
    <table class="table">
        <thead>
            <tr>

                <th scope="col">Date</th>
                <th scope="col">Location</th>
                <th scope="col">Fajr</th>
                <th scope="col">Zuhr</th>
                <th scope="col">Asr</th>
                <th scope="col">Magrib</th>
                <th scope="col">Isha</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td class="Day"></td>
                <td class="Location"></td>
                <td class="Fajr"></td>
                <td class="Zuhr"></td>
                <td class="Asr"></td>
                <td class="Magrib"></td>
                <td class="Isha"></td>
            </tr>

        </tbody>
    </table>
</div>

