body {
  color: black;
  position: relative;
  width: 100%;
}

h3 {
  display: block;
}

.navigationBr {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  color: black;
  background-color: white;
  padding: 10px;
  width: 100%;
}
.navbar-toggler {
}
.navbar {
  color: black;
  border-radius: 30px;
  background-color: rgb(248, 246, 246);
}

.navbar-brand:hover {
  text-decoration: underline;
}

.navbar a {
  color: black;
  background-color: rgb(248, 246, 246);
}
.navbar-toggler-icon .fa-solid {
  color: black;
  z-index: 1;
}

.Top-Container {
  position: relative;
  text-align: center;
}

.Top-Content {
  display: flex;
  justify-content: center;
}

.Top-Container img {
  position: relative;
  width: 100%;
}

.card {
  display: block;
  width: 50rem;
  background-color: grey;
  opacity: 0.8;
  margin-bottom: 200px;
}

.card-container {
  margin-top: 100px;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.Middle-Container {
  display: block;
  margin-top: 120px;
  margin-bottom: 50px;
  text-align: center;
  height: 600px;
}

.Middle-Content {
  padding-bottom: 100px;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}

.time {
  z-index: 1;
  padding: 5px;
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
  width: 10%;
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  top: 0px;
  right: 0px;
}

.soundBar {
  margin-top: 4px;
}

.hide {
  display: none;
  opacity: 0;
}

.show {
  opacity: 1;
}

.prayerTimes {
  border-radius: 10px;
  text-align: center;
  display: flex;
  background-color: #2d9471;

  width: 100%;
}

.carousel-inner img {
  height: 300px;

  /* border-radius: 10px; */
}

.carousel-inner video {
  border-radius: 10px;
  height: 300px;
}

@media only screen and (max-width: 600px) {
  .Middle-Content {
    width: 100%;
    position: absolute;
    bottom: 0px;
  }

  .Top-Container {
    position: relative;
  }

  .card {
    position: fixed;
    top: 70px;
    left: 0px;
    width: 100%;
    z-index: 1;
    border: none;
  }

  .Middle-Container {
    border-radius: 10px solid red;
    position: relative;
  }

  .time {
    border: none;
    width: 50px;
    margin-right: 20px;
    opacity: 0;
  }
  .carousel-inner {
    min-height: 100px;
    padding-bottom: 50px;
    border-radius: 10px;
  }

  .carousel-inner img {
    border-radius: 10px;
    height: 200px;
    width: 100%;
  }
  .carousel-inner video {
    border-radius: 10px;
    height: 200px;
    width: 100%;
  }
  .prayerTimes {
    position: absolute;
    margin-top: 150px;
  }
}
